html {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance, .deposit, .sendMoney, .withdraw, .expenses, .help {
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 1px;
}