html {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: red solid 1px;
    height: 80vh;
    width: 90vw;
}